In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

## Extract CSVs into DataFrames

In [2]:
# File paths
gov_cn_path = 'Resources/governors_county.csv'
gov_cand_path = 'Resources/governors_county_candidate.csv'
gov_ste_path = 'Resources/governors_state.csv'
hse_cand_path = 'Resources/house_candidate.csv'
hse_ste_path = 'Resources/house_state.csv'
psd_cn_path = 'Resources/president_county.csv'
psd_cand_path = 'Resources/president_county_candidate.csv'
psd_ste_path = 'Resources/president_state.csv'
sen_cn_path = 'Resources/senate_county.csv'
sen_cand_path = 'Resources/senate_county_candidate.csv'
sen_ste_path = 'Resources/senate_state.csv'

In [3]:
# Read csv files
gov_cn_df = pd.read_csv(gov_cn_path)
gov_cand_df = pd.read_csv(gov_cand_path)
gov_ste_df = pd.read_csv(gov_ste_path)
hse_cand_df = pd.read_csv(hse_cand_path)
hse_ste_df = pd.read_csv(hse_ste_path)
psd_cn_df = pd.read_csv(psd_cn_path)
psd_cand_df = pd.read_csv(psd_cand_path)
psd_ste_df = pd.read_csv(psd_ste_path)
sen_cn_df = pd.read_csv(sen_cn_path)
sen_cand_df = pd.read_csv(sen_cand_path)
sen_ste_df = pd.read_csv(sen_ste_path)

### Governer

In [4]:
gov_cn_df.head()

      state             county  current_votes  total_votes  percent
0  Delaware        Kent County          85415        87025      100
1  Delaware  New Castle County         280039       287633      100
2  Delaware      Sussex County         127181       129352      100
3   Indiana       Adams County          14154        14238       99
4   Indiana       Allen County         168312       164793       95

In [5]:
gov_cand_df.head()

      state             county        candidate party   votes    won
0  Delaware        Kent County      John Carney   DEM   44352   True
1  Delaware        Kent County  Julianne Murray   REP   39332  False
2  Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3  Delaware        Kent County    John Machurek   LIB     616  False
4  Delaware  New Castle County      John Carney   DEM  191678   True

In [6]:
gov_ste_df.head()

           state    votes
0       Delaware   492635
1        Indiana  3020514
2       Missouri  3010911
3        Montana   603587
4  New Hampshire   792804

### House

In [4]:
hse_cand_df.head()

                 district             candidate party  total_votes    won
0       Delaware at large  Lisa Blunt Rochester   DEM       281382   True
1       Delaware at large            Lee Murphy   REP       196392  False
2       Delaware at large     Catherine Purcell   IND         6682  False
3       Delaware at large          David Rogers   LIB         3814  False
4  Florida’s 1st district            Matt Gaetz   REP       283352   True

In [5]:
hse_ste_df.head()

                 district  current_votes  total_votes  percent
0       Delaware at large         488270       488270      100
1  Florida’s 1st district         438562       438562      100
2  Florida’s 2nd district         311999       311999      100
3  Florida’s 3rd district         390401       390401      100
4  Florida’s 4th district         504940       504940      100

In [18]:
# Add state column 
conditions = [hse_ste_df['district'].str.contains('Alabama'), hse_ste_df['district'].str.contains('Alaska'), hse_ste_df['district'].str.contains('Arizona'), hse_ste_df['district'].str.contains('Arkansas'), hse_ste_df['district'].str.contains('California'), hse_ste_df['district'].str.contains('Colorado'), hse_ste_df['district'].str.contains('Connecticut'), hse_ste_df['district'].str.contains('Delaware'), hse_ste_df['district'].str.contains('Florida'), hse_ste_df['district'].str.contains('Georgia'), hse_ste_df['district'].str.contains('Hawaii'), hse_ste_df['district'].str.contains('Idaho'), hse_ste_df['district'].str.contains('Illinois'), hse_ste_df['district'].str.contains('Indiana'), hse_ste_df['district'].str.contains('Iowa'), hse_ste_df['district'].str.contains('Kansas'), hse_ste_df['district'].str.contains('Kentucky'), hse_ste_df['district'].str.contains('Louisiana'), hse_ste_df['district'].str.contains('Maine'), hse_ste_df['district'].str.contains('Maryland'), hse_ste_df['district'].str.contains('Massachusetts'), hse_ste_df['district'].str.contains('Michigan'), hse_ste_df['district'].str.contains('Minnesota'), hse_ste_df['district'].str.contains('Mississippi'), hse_ste_df['district'].str.contains('Missouri'), hse_ste_df['district'].str.contains('Montana'), hse_ste_df['district'].str.contains('Nebraska'), hse_ste_df['district'].str.contains('Nevada'), hse_ste_df['district'].str.contains('New Hampshire'), hse_ste_df['district'].str.contains('New Jersey'), hse_ste_df['district'].str.contains('New Mexico'), hse_ste_df['district'].str.contains('New York'), hse_ste_df['district'].str.contains('North Carolina'), hse_ste_df['district'].str.contains('North Dakota'), hse_ste_df['district'].str.contains('Ohio'), hse_ste_df['district'].str.contains('Oklahoma'), hse_ste_df['district'].str.contains('Oregon'), hse_ste_df['district'].str.contains('Pennsylvania'), hse_ste_df['district'].str.contains('Rhode Island'), hse_ste_df['district'].str.contains('South Carolina'), hse_ste_df['district'].str.contains('South Dakota'), hse_ste_df['district'].str.contains('Tennessee'), hse_ste_df['district'].str.contains('Texas'), hse_ste_df['district'].str.contains('Utah'), hse_ste_df['district'].str.contains('Vermont'), hse_ste_df['district'].str.contains('Virginia'), hse_ste_df['district'].str.contains('Washington'), hse_ste_df['district'].str.contains('West Virginia'), hse_ste_df['district'].str.contains('Wisconsin'), hse_ste_df['district'].str.contains('Wyoming')]
choices = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

hse_ste_df['state'] = np.select(conditions, choices, default=np.nan)    

# Rearrange columns
hse_sum_cleaned_df = hse_ste_df[['state', 'district', 'current_votes', 'total_votes',
                                       'percent']].copy()


hse_sum_cleaned_df.head()

      state                district  current_votes  total_votes  percent
0  Delaware       Delaware at large         488270       488270      100
1   Florida  Florida’s 1st district         438562       438562      100
2   Florida  Florida’s 2nd district         311999       311999      100
3   Florida  Florida’s 3rd district         390401       390401      100
4   Florida  Florida’s 4th district         504940       504940      100

In [16]:
# Add state column
conditions = [hse_cand_df['district'].str.contains('Alabama'), hse_cand_df['district'].str.contains('Alaska'), hse_cand_df['district'].str.contains('Arizona'), hse_cand_df['district'].str.contains('Arkansas'), hse_cand_df['district'].str.contains('California'), hse_cand_df['district'].str.contains('Colorado'), hse_cand_df['district'].str.contains('Connecticut'), hse_cand_df['district'].str.contains('Delaware'), hse_cand_df['district'].str.contains('Florida'), hse_cand_df['district'].str.contains('Georgia'), hse_cand_df['district'].str.contains('Hawaii'), hse_cand_df['district'].str.contains('Idaho'), hse_cand_df['district'].str.contains('Illinois'), hse_cand_df['district'].str.contains('Indiana'), hse_cand_df['district'].str.contains('Iowa'), hse_cand_df['district'].str.contains('Kansas'), hse_cand_df['district'].str.contains('Kentucky'), hse_cand_df['district'].str.contains('Louisiana'), hse_cand_df['district'].str.contains('Maine'), hse_cand_df['district'].str.contains('Maryland'), hse_cand_df['district'].str.contains('Massachusetts'), hse_cand_df['district'].str.contains('Michigan'), hse_cand_df['district'].str.contains('Minnesota'), hse_cand_df['district'].str.contains('Mississippi'), hse_cand_df['district'].str.contains('Missouri'), hse_cand_df['district'].str.contains('Montana'), hse_cand_df['district'].str.contains('Nebraska'), hse_cand_df['district'].str.contains('Nevada'), hse_cand_df['district'].str.contains('New Hampshire'), hse_cand_df['district'].str.contains('New Jersey'), hse_cand_df['district'].str.contains('New Mexico'), hse_cand_df['district'].str.contains('New York'), hse_cand_df['district'].str.contains('North Carolina'), hse_cand_df['district'].str.contains('North Dakota'), hse_cand_df['district'].str.contains('Ohio'), hse_cand_df['district'].str.contains('Oklahoma'), hse_cand_df['district'].str.contains('Oregon'), hse_cand_df['district'].str.contains('Pennsylvania'), hse_cand_df['district'].str.contains('Rhode Island'), hse_cand_df['district'].str.contains('South Carolina'), hse_cand_df['district'].str.contains('South Dakota'), hse_cand_df['district'].str.contains('Tennessee'), hse_cand_df['district'].str.contains('Texas'), hse_cand_df['district'].str.contains('Utah'), hse_cand_df['district'].str.contains('Vermont'), hse_cand_df['district'].str.contains('Virginia'), hse_cand_df['district'].str.contains('Washington'), hse_cand_df['district'].str.contains('West Virginia'), hse_cand_df['district'].str.contains('Wisconsin'), hse_cand_df['district'].str.contains('Wyoming')]
choices = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

hse_cand_df['state'] = np.select(conditions, choices, default=np.nan) 


# Rename column and make a copy from original dataframe
hse_result_df = hse_cand_df.rename(columns={'total_votes': 'candidate_votes'}).copy()

hse_result_df = hse_result_df.assign(
                        percent_votes = round(hse_result_df.candidate_votes/hse_result_df\
                                        .groupby(['state','district']).candidate_votes\
                                        .transform('sum')*100, 2))

# Rearrage columns
hse_result_cleaned_df = hse_result_df[['state', 'district', 'candidate', 'party',
                                       'candidate_votes', 'percent_votes', 'won']].copy()

hse_result_cleaned_df.head()

,state,district,candidate,party,candidate_votes,percent_votes,won
0,Delaware,Delaware at large,Lisa Blunt Rochester,DEM,281382,57.63,True
1,Delaware,Delaware at large,Lee Murphy,REP,196392,40.22,False
2,Delaware,Delaware at large,Catherine Purcell,IND,6682,1.37,False
3,Delaware,Delaware at large,David Rogers,LIB,3814,0.78,False
4,Florida,Florida’s 1st district,Matt Gaetz,REP,283352,64.61,True

,state,district,candidate,party,candidate_votes,percent_votes,won
0,Delaware,Delaware at large,Lisa Blunt Rochester,DEM,281382,57.63,True
1,Delaware,Delaware at large,Lee Murphy,REP,196392,40.22,False
2,Delaware,Delaware at large,Catherine Purcell,IND,6682,1.37,False
3,Delaware,Delaware at large,David Rogers,LIB,3814,0.78,False
4,Florida,Florida’s 1st district,Matt Gaetz,REP,283352,64.61,True

In [10]:
merged_hse_df = hse_cand_df.merge(hse_ste_df, how='left', on=['State', 'district'])
merged_hse_df

cleaned_hse_df = merged_hse_df.rename(columns= {
    'district':'District',
    'candidate':'Candidate',
    'party':'Party',
    'total_votes_x':'Candidate Votes',
    'total_votes_y':'Total Votes',
    'won':'Won',
    'percent':'Percent Counted' 
})

In [11]:
cleaned_hse_df['Percentage of Votes'] = (cleaned_hse_df['Candidate Votes']/cleaned_hse_df['Total Votes']*100).round(2)

### President

In [9]:
psd_cn_df.head()

,state,county,current_votes,total_votes,percent
0,Delaware,Kent County,87025,87025,100
1,Delaware,New Castle County,287633,287633,100
2,Delaware,Sussex County,129352,129352,100
3,District of Columbia,District of Columbia,40631,45392,90
4,District of Columbia,Ward 2,31929,37140,86

In [10]:
psd_cand_df.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [11]:
psd_ste_df.head()

                  state  total_votes
0              Delaware       504010
1  District of Columbia       333682
2               Florida     11067456
3               Georgia      4998566
4                Hawaii       574469

### Senate

In [12]:
sen_cn_df.head()

      state             county  current_votes  total_votes  percent
0  Delaware        Kent County          84975        87025      100
1  Delaware  New Castle County         279462       287633      100
2  Delaware      Sussex County         126498       129352      100
3   Georgia     Appling County           8187         8341      100
4   Georgia    Atkinson County           3097         3155      100

In [13]:
sen_cand_df.head()

      state             county      candidate party  total_votes
0  Delaware        Kent County  Lauren Witzke   REP        38571
1  Delaware        Kent County    Mark Turley   IPD         1553
2  Delaware        Kent County   Nadine Frost   LIB          958
3  Delaware  New Castle County  Lauren Witzke   REP        80081
4  Delaware  New Castle County    Mark Turley   IPD         4277

In [14]:
sen_ste_df.head()

      state  total_votes
0  Delaware       490935
1   Georgia      4952440
2     Idaho       858826
3  Illinois      5860394
4      Iowa      1670616